In [1]:
import pandas as pd
import numpy as np 
df=pd.read_csv('locations.csv')
df

                                      Location         Latitude / Longitude
0                         Bell Rock Lighthouse     56.43416667,-2.387222222
1                                          NaN     40.70555556,-73.99638889
2                  Catacombs of Kom el Shoqafa          31.178558,29.892954
3                               Channel Tunnel               51.0125,1.5041
4                                 Chichen Itza     20.68277778,-88.56861111
5                   Christ the Redeemer Statue    -21.04805556,-43.21055556
6                                     CN Tower             43.6426,-79.3871
7                                    Colosseum            41.89,12.49222222
8                           Colossus of Rhodes              36.4511,28.2278
9                Delta Works / Zuiderzee Works                   51.65,3.72
10                       Empire State Building     40.74833333,-73.98555556
11             First Transcontinental Railroad      41.27638889,95.86666667
12                          Golden Gate Bridge     37.81972222,-122.4786111
13                                Grand Canyon                  36.1,-112.1
14                          Great Barrier Reef           -17.71388889,147.7
15                       Great Pyramid of Giza      29.97916667,31.13416667
16                         Great Wall of China           40.67693,117.23193
17                               Guanabara Bay    -21.20972222,-43.15555556
18                                Hagia Sophia          41.008548,28.979938
19                  Hanging Gardens of Babylon              33.5355,44.2475
20                                  Hoover Dam     36.01555556,-114.7377778
21                                  Itaipu Dam    -24.59194444,-54.58888889
22                       Leaning Tower of Pisa      43.72305556,10.39638889
23                    Lighthouse of Alexandria      31.21388889,29.88555556
24                                 Maasai Mara            -0.51,35.14388889
25                                Machu Picchu    -12.83666667,-72.54555556
26                                         NaN      37.03777778,27.42416667
27                           Maya civilization     20.68277778,-88.56861111
28                               Mount Everest      27.98805556,86.92527778
29                        Old City (Jerusalem)      31.77666667,35.23416667
30                                Panama Canal                  9.08,-79.68
31  Papahānaumokuākea Marine National Monument            25.7,-171.7333333
32                                   Paricutin     19.49277778,-102.2508333
33                                       Petra      30.32861111,35.44194444
34                  Porcelain Tower of Nanjing           32.08027778,118.73
35                            SS Great Eastern  51.48861111,-0.005555555556
36                   Statue of Zeus at Olympia            37.63777778,21.63
37                                  Stonehenge     51.17861111,-1.826111111
38                                   Taj Mahal           27.175,78.04194444
39                Temple of Artemis at Ephesus      37.94972222,27.36388889
40                              Victoria Falls     -16.07555556,25.85666667

In [11]:
#Count Distinct calues-Descending
df['Location'].value_counts()

Location
Bell Rock Lighthouse                          1
Catacombs of Kom el Shoqafa                   1
Channel Tunnel                                1
Chichen Itza                                  1
Christ the Redeemer Statue                    1
CN Tower                                      1
Colosseum                                     1
Colossus of Rhodes                            1
Delta Works / Zuiderzee Works                 1
Empire State Building                         1
First Transcontinental Railroad               1
Golden Gate Bridge                            1
Grand Canyon                                  1
Great Barrier Reef                            1
Great Pyramid of Giza                         1
Great Wall of China                           1
Guanabara Bay                                 1
Hagia Sophia                                  1
Hanging Gardens of Babylon                    1
Hoover Dam                                    1
Itaipu Dam                                    1
Leaning Tower of Pisa                         1
Lighthouse of Alexandria                      1
Maasai Mara                                   1
Machu Picchu                                  1
Maya civilization                             1
Mount Everest                                 1
Old City (Jerusalem)                          1
Panama Canal                                  1
Papahānaumokuākea Marine National Monument    1
Paricutin                                     1
Petra                                         1
Porcelain Tower of Nanjing                    1
SS Great Eastern                              1
Statue of Zeus at Olympia                     1
Stonehenge                                    1
Taj Mahal                                     1
Temple of Artemis at Ephesus                  1
Victoria Falls                                1
Name: count, dtype: int64

In [12]:
#Count Distinct Vlaues-Acesding
df['Location'].value_counts(ascending=True )

Location
Bell Rock Lighthouse                          1
Catacombs of Kom el Shoqafa                   1
Channel Tunnel                                1
Chichen Itza                                  1
Christ the Redeemer Statue                    1
CN Tower                                      1
Colosseum                                     1
Colossus of Rhodes                            1
Delta Works / Zuiderzee Works                 1
Empire State Building                         1
First Transcontinental Railroad               1
Golden Gate Bridge                            1
Grand Canyon                                  1
Great Barrier Reef                            1
Great Pyramid of Giza                         1
Great Wall of China                           1
Guanabara Bay                                 1
Hagia Sophia                                  1
Hanging Gardens of Babylon                    1
Hoover Dam                                    1
Itaipu Dam                                    1
Leaning Tower of Pisa                         1
Lighthouse of Alexandria                      1
Maasai Mara                                   1
Machu Picchu                                  1
Maya civilization                             1
Mount Everest                                 1
Old City (Jerusalem)                          1
Panama Canal                                  1
Papahānaumokuākea Marine National Monument    1
Paricutin                                     1
Petra                                         1
Porcelain Tower of Nanjing                    1
SS Great Eastern                              1
Statue of Zeus at Olympia                     1
Stonehenge                                    1
Taj Mahal                                     1
Temple of Artemis at Ephesus                  1
Victoria Falls                                1
Name: count, dtype: int64

In [13]:
#Location names-without NoN
df['Location'].value_counts()

Location
Bell Rock Lighthouse                          1
Catacombs of Kom el Shoqafa                   1
Channel Tunnel                                1
Chichen Itza                                  1
Christ the Redeemer Statue                    1
CN Tower                                      1
Colosseum                                     1
Colossus of Rhodes                            1
Delta Works / Zuiderzee Works                 1
Empire State Building                         1
First Transcontinental Railroad               1
Golden Gate Bridge                            1
Grand Canyon                                  1
Great Barrier Reef                            1
Great Pyramid of Giza                         1
Great Wall of China                           1
Guanabara Bay                                 1
Hagia Sophia                                  1
Hanging Gardens of Babylon                    1
Hoover Dam                                    1
Itaipu Dam                                    1
Leaning Tower of Pisa                         1
Lighthouse of Alexandria                      1
Maasai Mara                                   1
Machu Picchu                                  1
Maya civilization                             1
Mount Everest                                 1
Old City (Jerusalem)                          1
Panama Canal                                  1
Papahānaumokuākea Marine National Monument    1
Paricutin                                     1
Petra                                         1
Porcelain Tower of Nanjing                    1
SS Great Eastern                              1
Statue of Zeus at Olympia                     1
Stonehenge                                    1
Taj Mahal                                     1
Temple of Artemis at Ephesus                  1
Victoria Falls                                1
Name: count, dtype: int64

In [14]:
#Location names-with NoN
df['Location'].value_counts(dropna=False )

Location
NaN                                           2
Bell Rock Lighthouse                          1
Catacombs of Kom el Shoqafa                   1
Channel Tunnel                                1
Chichen Itza                                  1
Christ the Redeemer Statue                    1
CN Tower                                      1
Colosseum                                     1
Colossus of Rhodes                            1
Delta Works / Zuiderzee Works                 1
Empire State Building                         1
First Transcontinental Railroad               1
Golden Gate Bridge                            1
Grand Canyon                                  1
Great Barrier Reef                            1
Great Pyramid of Giza                         1
Great Wall of China                           1
Guanabara Bay                                 1
Hagia Sophia                                  1
Hanging Gardens of Babylon                    1
Hoover Dam                                    1
Itaipu Dam                                    1
Leaning Tower of Pisa                         1
Lighthouse of Alexandria                      1
Maasai Mara                                   1
Machu Picchu                                  1
Maya civilization                             1
Mount Everest                                 1
Old City (Jerusalem)                          1
Panama Canal                                  1
Papahānaumokuākea Marine National Monument    1
Paricutin                                     1
Petra                                         1
Porcelain Tower of Nanjing                    1
SS Great Eastern                              1
Statue of Zeus at Olympia                     1
Stonehenge                                    1
Taj Mahal                                     1
Temple of Artemis at Ephesus                  1
Victoria Falls                                1
Name: count, dtype: int64

In [15]:
#Get Relaticve Frequency -Percentage
df['Location'].value_counts(normalize=True)

Location
Bell Rock Lighthouse                          0.025641
Catacombs of Kom el Shoqafa                   0.025641
Channel Tunnel                                0.025641
Chichen Itza                                  0.025641
Christ the Redeemer Statue                    0.025641
CN Tower                                      0.025641
Colosseum                                     0.025641
Colossus of Rhodes                            0.025641
Delta Works / Zuiderzee Works                 0.025641
Empire State Building                         0.025641
First Transcontinental Railroad               0.025641
Golden Gate Bridge                            0.025641
Grand Canyon                                  0.025641
Great Barrier Reef                            0.025641
Great Pyramid of Giza                         0.025641
Great Wall of China                           0.025641
Guanabara Bay                                 0.025641
Hagia Sophia                                  0.025641
Hanging Gardens of Babylon                    0.025641
Hoover Dam                                    0.025641
Itaipu Dam                                    0.025641
Leaning Tower of Pisa                         0.025641
Lighthouse of Alexandria                      0.025641
Maasai Mara                                   0.025641
Machu Picchu                                  0.025641
Maya civilization                             0.025641
Mount Everest                                 0.025641
Old City (Jerusalem)                          0.025641
Panama Canal                                  0.025641
Papahānaumokuākea Marine National Monument    0.025641
Paricutin                                     0.025641
Petra                                         0.025641
Porcelain Tower of Nanjing                    0.025641
SS Great Eastern                              0.025641
Statue of Zeus at Olympia                     0.025641
Stonehenge                                    0.025641
Taj Mahal                                     0.025641
Temple of Artemis at Ephesus                  0.025641
Victoria Falls                                0.025641
Name: proportion, dtype: float64

In [20]:
#Count Unique values -count
df.groupby('Location').count()

                                            Latitude / Longitude
Location
Bell Rock Lighthouse                                           1
CN Tower                                                       1
Catacombs of Kom el Shoqafa                                    1
Channel Tunnel                                                 1
Chichen Itza                                                   1
Christ the Redeemer Statue                                     1
Colosseum                                                      1
Colossus of Rhodes                                             1
Delta Works / Zuiderzee Works                                  1
Empire State Building                                          1
First Transcontinental Railroad                                1
Golden Gate Bridge                                             1
Grand Canyon                                                   1
Great Barrier Reef                                             1
Great Pyramid of Giza                                          1
Great Wall of China                                            1
Guanabara Bay                                                  1
Hagia Sophia                                                   1
Hanging Gardens of Babylon                                     1
Hoover Dam                                                     1
Itaipu Dam                                                     1
Leaning Tower of Pisa                                          1
Lighthouse of Alexandria                                       1
Maasai Mara                                                    1
Machu Picchu                                                   1
Maya civilization                                              1
Mount Everest                                                  1
Old City (Jerusalem)                                           1
Panama Canal                                                   1
Papahānaumokuākea Marine National Monument                     1
Paricutin                                                      1
Petra                                                          1
Porcelain Tower of Nanjing                                     1
SS Great Eastern                                               1
Statue of Zeus at Olympia                                      1
Stonehenge                                                     1
Taj Mahal                                                      1
Temple of Artemis at Ephesus                                   1
Victoria Falls                                                 1

In [21]:
#get a count of all colums across all colums
df.apply(pd.value_counts)

C:\Users\User\AppData\Local\Temp\ipykernel_7800\4136839841.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.apply(pd.value_counts)
C:\Users\User\AppData\Local\Temp\ipykernel_7800\4136839841.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.apply(pd.value_counts)

                              Location  Latitude / Longitude
-0.51,35.14388889                  NaN                   1.0
-12.83666667,-72.54555556          NaN                   1.0
-16.07555556,25.85666667           NaN                   1.0
-17.71388889,147.7                 NaN                   1.0
-21.04805556,-43.21055556          NaN                   1.0
...                                ...                   ...
Statue of Zeus at Olympia          1.0                   NaN
Stonehenge                         1.0                   NaN
Taj Mahal                          1.0                   NaN
Temple of Artemis at Ephesus       1.0                   NaN
Victoria Falls                     1.0                   NaN

[79 rows x 2 columns]

In [17]:
#Get specific item count


df['Location'].value_counts()['Hoover Dam']

np.int64(1)

In [18]:
#cOUNT uNIQUE VALUES -sIZE
df.groupby('Location').size()

Location
Bell Rock Lighthouse                          1
CN Tower                                      1
Catacombs of Kom el Shoqafa                   1
Channel Tunnel                                1
Chichen Itza                                  1
Christ the Redeemer Statue                    1
Colosseum                                     1
Colossus of Rhodes                            1
Delta Works / Zuiderzee Works                 1
Empire State Building                         1
First Transcontinental Railroad               1
Golden Gate Bridge                            1
Grand Canyon                                  1
Great Barrier Reef                            1
Great Pyramid of Giza                         1
Great Wall of China                           1
Guanabara Bay                                 1
Hagia Sophia                                  1
Hanging Gardens of Babylon                    1
Hoover Dam                                    1
Itaipu Dam                                    1
Leaning Tower of Pisa                         1
Lighthouse of Alexandria                      1
Maasai Mara                                   1
Machu Picchu                                  1
Maya civilization                             1
Mount Everest                                 1
Old City (Jerusalem)                          1
Panama Canal                                  1
Papahānaumokuākea Marine National Monument    1
Paricutin                                     1
Petra                                         1
Porcelain Tower of Nanjing                    1
SS Great Eastern                              1
Statue of Zeus at Olympia                     1
Stonehenge                                    1
Taj Mahal                                     1
Temple of Artemis at Ephesus                  1
Victoria Falls                                1
dtype: int64