In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
my_data=randn(4,3)#rows.colums
rows=['A',"B","C","D"]
cols=["Monday","Tuesday","Wednesday"]

In [3]:
#CreateDataFrame
dataframe=pd.DataFrame(my_data,rows,cols)
dataframe

     Monday   Tuesday  Wednesday
A -0.268957 -0.941283   1.117233
B  0.465291  0.303671  -1.258729
C -0.578537  0.970807   0.339381
D  0.166214  1.498493   0.100046