In [14]:
import pandas as pd
import numpy as np

my_df=pd.read_csv("locations.csv")
my_df

                                      Location         Latitude / Longitude
0                         Bell Rock Lighthouse     56.43416667,-2.387222222
1                                          NaN     40.70555556,-73.99638889
2                  Catacombs of Kom el Shoqafa          31.178558,29.892954
3                               Channel Tunnel               51.0125,1.5041
4                                 Chichen Itza     20.68277778,-88.56861111
5                   Christ the Redeemer Statue    -21.04805556,-43.21055556
6                                     CN Tower             43.6426,-79.3871
7                                    Colosseum            41.89,12.49222222
8                           Colossus of Rhodes              36.4511,28.2278
9                Delta Works / Zuiderzee Works                   51.65,3.72
10                       Empire State Building     40.74833333,-73.98555556
11             First Transcontinental Railroad      41.27638889,95.86666667
12                          Golden Gate Bridge     37.81972222,-122.4786111
13                                Grand Canyon                  36.1,-112.1
14                          Great Barrier Reef           -17.71388889,147.7
15                       Great Pyramid of Giza      29.97916667,31.13416667
16                         Great Wall of China           40.67693,117.23193
17                               Guanabara Bay    -21.20972222,-43.15555556
18                                Hagia Sophia          41.008548,28.979938
19                  Hanging Gardens of Babylon              33.5355,44.2475
20                                  Hoover Dam     36.01555556,-114.7377778
21                                  Itaipu Dam    -24.59194444,-54.58888889
22                       Leaning Tower of Pisa      43.72305556,10.39638889
23                    Lighthouse of Alexandria      31.21388889,29.88555556
24                                 Maasai Mara            -0.51,35.14388889
25                                Machu Picchu    -12.83666667,-72.54555556
26                                         NaN      37.03777778,27.42416667
27                           Maya civilization     20.68277778,-88.56861111
28                               Mount Everest      27.98805556,86.92527778
29                        Old City (Jerusalem)      31.77666667,35.23416667
30                                Panama Canal                  9.08,-79.68
31  Papah훮naumoku훮kea Marine National Monument            25.7,-171.7333333
32                                   Paricutin     19.49277778,-102.2508333
33                                       Petra      30.32861111,35.44194444
34                  Porcelain Tower of Nanjing           32.08027778,118.73
35                            SS Great Eastern  51.48861111,-0.005555555556
36                   Statue of Zeus at Olympia            37.63777778,21.63
37                                  Stonehenge     51.17861111,-1.826111111
38                                   Taj Mahal           27.175,78.04194444
39                Temple of Artemis at Ephesus      37.94972222,27.36388889
40                              Victoria Falls     -16.07555556,25.85666667

In [15]:
#Create new column
#my_df["frame Header"]=["place 1","place 2"".... till 40"]

In [16]:
#set index 
#my_df.set_index("Frame header",implace=True) remember the implace is to make the chnag

In [ ]:
#Reset index
#my_df.reset_index(implace =True)

In [ ]:
#dROP COLUMN
#my_df.drop("Frame,axis=1",implcae=True)

In [ ]:
#show DataFrame